@font-face {
  font-family: "Somer";
  src: url("/fonts/Somer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "STARCHEERS";
  src: url("/fonts/STARCHEERS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro {
  font-family: "Somer";
}
body {
  font-family: "Somer";
  background: url("/public/texture.jpg") no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: overlay;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2.5em;
}

p {
  font-size: 1.25rem;
  font-weight: 500;
}

.hero {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
}

.hero h1 {
  font-family: "Against";
  src: url("/fonts/Against.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

.hero,
.intro,
.outro {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

.intro,
.outro {
  background-color: white;
  display: flex;
  align-items: center;
}

.intro h1,
.outro h1 {
  margin-bottom: 0;
}

.card {
  position: relative;
  height: 100vh;
}

.card-inner {
  position: relative;
  will-change: transform;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  gap: 4em;
}

.card-content {
  flex: 3;
}

.card-img {
  flex: 1;
  aspect-ratio: 16/9;
  border-radius: 0.75;
  overflow: hidden;
}

#card-1 .card-inner {
  background-color: aquamarine;
}

#card-2 .card-inner {
  background-color: antiquewhite;
}

#card-3 .card-inner {
  background-color: brown;
}

#card-4 .card-inner {
  background-color: cornflowerblue;
}

#card-5 .card-inner {
  background-color: crimson;
}

@media (max-width: 900px) {
  h1 {
    margin-bottom: 4rem;
  }

  .card-img,
  .card-content p {
    display: none;
  }

  .card {
    height: 500px;
  }
}
